@model Store_Management_System.Models.Transaction
@{
    ViewBag.Title = "Home Page";
}

<main>
    @using (Html.BeginForm("AddOrUpdate", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.HiddenFor(model => model.transaction_ID)
        <section class="row" aria-labelledby="aspnetTitle">
            <h1 id="title" class="mb-5">TRANSACTION DETAILS</h1>
            <h4 class="mb-2">User Form</h4>
        </section>

        <div class="row mb-4">
            <section class="col-md-6" aria-labelledby="gettingStartedTitle">
                <label>Item Name: </label>
                @Html.TextBoxFor(model => model.transaction_date, new { @class = "form-control w-100" })
                @Html.ValidationMessageFor(model => model.transaction_date)
            </section>
            <section class="col-md-4" aria-labelledby="librariesTitle">
                <label>Category Name: </label>
                @Html.DropDownListFor(model => model.department_id, new SelectList(ViewBag.Category_list, "Text", "Value"), "--Select Category--", new { @class = "form-control w-100" })
                @Html.ValidationMessageFor(model => model.department_id)
            </section>
        </div>
        <div class="row mb-4">

            <section class="col-md-6" aria-labelledby="hostingTitle">
                <label>Rate: </label>
                @Html.TextBoxFor(model => model.Vendor_id, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Vendor_id)

            </section>
            <section class="col-md-4" aria-labelledby="gettingStartedTitle">
                <label>Balance Quantity: </label>
                @Html.TextBoxFor(model => model.Quantity, new { @class = "form-control" })
            </section>
        </div>
        <div class="row mb-2">
            <button class="btn btn-secondary" type="submit">Submit</button>
        </div>
    }
    <table class=" table table-bordered">
        <thead>
            <tr>
                <th>TRANSACTION  ID</th>
                <th>TRANSACTION DATE</th>
                <th>DEPARTMENT ID </th>
                <th>VENDOR ID</th>
                <th>QUANTITY</th>
                <th>ACTION</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var content in ViewBag.TransactionDetails)
            {
                <tr>
                    <td>@content.transaction_ID</td>
                    <td>@content.Item_Name</td>
                    <td>@content.transaction_date</td>
                    <td>@content.Department_Name</td>
                    <td>@content.Vendor_Name</td>
                    <td>@content.Quantity</td>
                    <td>
                        @Html.ActionLink("Edit", "Index", new { item_id = content.item_id }) |
                        @Html.ActionLink("Delete", "Delete", new { item_id = content.item_id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</main>